﻿<link href="libs/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<div class="container mt50">
<div class="row mt2">
  <div class="tab-content tab-bordered" data-ng-init="getKnow($event)">
    <div class="alert with-icon "> 
      <span class="mp7"> 姓名/账号： </span> <span class="col-md-3">
      <input type="text" class="form-control"  ng-model="searchMessage" >
      </span> <span class="ml10">
      <button class="button button-glow button-rounded button-raised button-primary" ng-click="searchUser(searchMessage)"><i class="icon-search"></i> 查询</button> </span> 
      <span class="ml10"> <a href="" class="button button-glow button-rounded button-raised button-primary" ng-click="back()"> 返回</a> </span> 
    </div>

      <div class="row mt1">
        <div class="col-md-8">
          <div class="panel " style="height:564px;">
              <div class="panel-heading ">用户列表</div>
              <div class="panel-body">
                <table class="table table-bordered table-hover" data-ng-init="getAutUsers()">
                  <thead>
                    <tr>
                      <th>姓名</th>
                      <th>账号</th>
                      <th>类型</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="item in users" ng-dblclick="getGroupsByUser(item)">
                    <td>{{item[3]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[5]}}</td>
                  </tr>
                </table>
                <div class="row text-center">
                  <ul class="pager">
                      <li class="previous" ><a href="" id="first" ng-click="page($event)">首页</a></li>
                      <li class="previous" ><a href="" id="prev" ng-click="page($event)">上一页</a></li>
                      <li ><a href="" id="beforeSL">...</a></li>
                      <li ng-repeat="pageNumber in pageNumbers"><a href="" class="" id="{{pageNumber}}" ng-click="page($event)">{{pageNumber}}</a></li>
                      <li ><a href="" id="afterSL">...</a></li>
                      <li class="next"><a href="" id="next" ng-click="page($event)">下一页</a></li>
                      <li class="next"><a href="" id="last" ng-click="page($event)">尾页</a></li>
                  </ul>
                </div>
              </div>
           </div>
        </div>
        <div class="col-md-4">
            <div class="panel " style="height:564px;">
                <div class="panel-heading ">用户：{{cutUser[3]}} 
                <span ng-show="cutUser" class="ml10" style="float:right;"> 
                    <a href="" class="button button-glow button-rounded button-raised button-primary" ng-click="saveGroupForUser()"> 保存</a> </span>
                </div>
                <div ng-show="cutUser" class="panel-body" style="height:524px;overflow: scroll;" data-ng-init="getAutGroups()"> 
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th width="45">选择</th>
                          <th>权限组名称</th>
                        </tr>
                      </thead>
                      <tr ng-repeat="item in groups">
                        <td><input type="checkbox" ng-model="item[5]" ng-change="checkGroup(item)"/></td>
                        <td>{{item[1]}}</td>
                      </tr>
                   </table>
                </div>
            </div>
        </div>
        
      </div>
</div>
</div>

<div class="modal" id="msg" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
  <div class="modal-dialog" style="width:30%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resizedModalTitle"><i class="icon icon-warning-sign"></i> 提示</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" method='post'>
          <div class="container" >
            <p>{{msg}}</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-mini btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

