
<div class="container mt50">
  <div class="row mt2">
    <div class="tab-content tab-bordered">

      <div class="tab-panel" >
       <div class="panel mt2">
        <div class="panel-heading "> <i class="icon-map-marker gre"> </i>操作日志</div>
         <div class="panel-body" style=" max-width:1200px; overflow: scroll;">
          <div data-ng-init="checkOperation()" class="table table-bordered table-hover">
          
		<div class="col-md-12">
			<div class="col-md-3">
			操作人：&nbsp;&nbsp;{{operation_logs[5]}}
			</div>
			
			<div class="col-md-3">
			操作项：&nbsp;&nbsp;{{operation_logs[6]}}
			
			</div>
      <div class="col-md-3">
      单据号：&nbsp;&nbsp;{{operation_logs[3]}}
      </div>

			<div class="col-md-3">
			创建时间：&nbsp;&nbsp;{{operation_logs[4]}}
			</div>
			
		</div>
			<br/>
			<br/>
			<div class="col-md-12">
			操作内容：&nbsp;&nbsp;{{operation_logs[2]}}
			
			 </div>
			
         </div>
		 
         <div class="row"><hr />
            <div class="col-md-12 text-center">
              <button class="button mbo3  ml30 hui" ng-click="back()">返回</button>
            </div>
         </div>
		 
		 </div>
       </div>
      </div>
    </div>
  </div>
</div>


<!-- 提示框 -->
<div class="modal" id="msg" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
  <div class="modal-dialog" style="width:30%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resizedModalTitle"><i class="icon icon-warning-sign"></i> 提示</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" method='post'>
          <div class="container" >
            <p>{{msg}}</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-mini btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>