﻿
<form class="form-horizontal form-condensed" role="form" method="post" name="pw">
<div class="container mt50">
  <div class="row mt2" >
    <div class="tab-content tab-bordered">
      <div class="tab-panel" >
        <div class="panel mt2">
          <div class="panel-heading "> <i class="icon-map-marker gre"> </i>密码修改</div>
          <div class="panel-body">
            <table class="table table-bordered">
             <br />
               <tr>
			  
				 <td>学校名称：</td>
	             <td>{{main_Accountmessage[6]}}</td>
				</tr>
				<tr>
				<td>学校主账号：</td>
				<td>{{main_Accountmessage[1]}}</td>
			   </tr>
		        
				
			   <tr>   
                <td><span style="color:red" >*</span>输入新密码：</td> 
				</tr>
				<tr>
				 <td width="200" >

				 <!--<input type="password" class="form-control gre" name="password1" required id="password1" ng-model="password1" ng-minlength="6">
				 <span style="color:red" ng-show="pw.password1.$error.required&&pw.password1.$dirty">密码不能为空且不能低于六位</span>-->
          <input type="password" class="form-control gre" name="password1"  id="password1" ng-model="password1"  ng-change="checkpass(password1)" >
          <span style="color:red" ng-show="passshow" >密码不能为空</span>
           <span style="color:red" ng-show="pashow" >密码不能低于6位</span>
        </td>
				 </tr>
				
				
				<tr>
				 <td><span style="color:red" >*</span>再次确认新密码：</td>
				 </tr>
				 <tr>
				 <td width="200" >
				 <!--<input type="password" class="form-control gre"  name="password2" required id="password2" ng-model="password2" ng-change="checkPass()" ng-minlength="6" > 
				  
				 <span style="color:red" ng-show="pw.password2.$dirty&&!equ">
				 确认密码不相等</span>-->

         <input type="password" class="form-control gre"  name="password2" id="password2" ng-model="password2" ng-change="checkPass()"  > 
          <span style="color:red" ng-show="pwshow">
         密码不能为空且与上面一致</span>
         <span style="color:red" ng-show="pw.password2.$dirty&&!equ">
         确认密码不相等</span>
				 </td>
				 </tr>	
            </table>
			
            <div class="row">
              <hr />
              <div class="col-md-12 text-center">
                <button class="button mbo3 mt2" ng-click="save()" >保存</button>
                <button class="button mbo3  ml30 hui" ng-click="back()">返回</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>


<!-- 提示框 -->
<div class="modal" id="msg" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
  <div class="modal-dialog" style="width:30%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resizedModalTitle"><i class="icon icon-warning-sign"></i> 提示</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" method='post'>
          <div class="container" >
            <p>{{msg}}</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-mini btn-default" data-dismiss="modal" ng-click="gowhere()">确定</button>
      </div>
    </div>
  </div>
</div>
