<!-- 修改账户 -->
<form class="form-horizontal form-condensed" role="form" method="post" name="am" novalidate>
  <div class="container mt50">
    <div class="row mt2" >
      <div class="tab-content tab-bordered">
        <div class="tab-panel" >
          <div class="panel mt2">
            <div class="panel-heading " ng-model="accountmessage"> <i class="icon-map-marker gre"> </i>修改账户:{{accountmessage.user_name}}</div>
            <div class="panel-body">
              <table class="table table-bordered">
                <tr>  
                  <td>姓名<span class="red_star">*</span></td>
                  <td><input type="text" class="form-control gre" name="name" ng-model="accountmessage.name" required ng-change="nameChange()"><span style="color:red" ng-show="showname">姓名不能为空</span></td>
                  <td>科室<span class="red_star">*</span></td>
                  <td><select class="form-control gre" ng-model="accountmessage.dept_id" name="dept_id" ng-options="item.id as item.name for item in depts" required ng-change="deptChange()">
                    <option value="" selected="selected">--选择科室--</option></select>
                    <span style="color:red" ng-show="showdept">科室不能为空</span></td>
                  <td>职称<span class="red_star">*</span></td>
                  <td><select class="form-control gre" ng-model="accountmessage.title" name="title" ng-options="item.code as item.name for item in titles" required ng-change="titleChange()">
                    <option value="" selected="selected">--选择职称--</option></select>
                    <span style="color:red" ng-show="showtitle">职称不能为空</span></td>
                  <td>职务<span class="red_star">*</span></td>
                  <td><select class="form-control gre" ng-model="accountmessage.post" name="post" ng-options="item.code as item.name for item in posts" required ng-change="postChange()">
                    <option value="" selected="selected">--选择职务--</option></select>
                    <span style="color:red" ng-show="showpost">职务不能为空</span></td>  
                </tr>
                <tr>
                  <td>电话</td>
                  <td><input type="text" class="form-control gre" name="phone" ng-model="accountmessage.phone"></td>
                  <td>介绍</td>
                  <td colspan="5"><input type="text" class="form-control gre" name="introduce" ng-model="accountmessage.introduce"></td>
                </tr>                
              </table>
              <div class="row">
                <hr/>
                <div class="col-md-12 text-center">
                  <button class="button mbo3 mt2"  ng-click="save(accountmessage)">保存</button>
                  <button class="button mbo3  ml30 hui" ng-click="back()">返回</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- 提示框 -->
<div class="modal" id="msg" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
  <div class="modal-dialog" style="width:30%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resizedModalTitle"><i class="icon icon-warning-sign"></i> 提示</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" method='post'>
          <div class="container" >
            <p>{{msg}}</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-mini btn-default" data-dismiss="modal" ng-click="gowhere()">确定</button>
      </div>
    </div>
  </div>
</div>