
<div class="container mt50">
<div class="row mt2">
	<div class="tab-content tab-bordered">
	        <div style="float: left;">
		<iframe id="report" name="report" src="/case_report.html" style="margin:0px auto;width:210mm;height:297mm"></iframe>
		</div>
		<div style="float: left;">
		<button class="button " onclick="toReport()">打印</button>
		<button class="button hui ml10" href="" onclick="goBack()"> 返回</button>
		</div>
	</div>
	<script type="text/javascript">
	    function goBack(){
	        window.history.go(-1);
	    }
	    function toReport(){
	        iframe=document.getElementById("report");
	        iframe.contentWindow.focus();
                iframe.contentWindow.print();
	    }
	</script>
</div>
</div>