<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title></title>
    <link href="../../styles/bootstrap3.0.min.css" type="text/css" rel="stylesheet" />
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title></title>
</head>
<body>
<div style="width: 100%;margin-top: 20%;height:500px">
    <ul style="list-style: none;text-align: center">
        <li>
            <a href="patient_register.html" class="btn btn-info" style="width:220px">患者注册</a>
        </li>
        <li style="margin-top: 2%">
            <a href="hosp_register.html" class="btn btn-info" style="width:220px">学校注册</a>
        </li>
    </ul>
</div>
</body>
<script src="../../libs/jctlibs/function.js"></script>
<script type="text/javascript" src="../../libs/jquery/jquery.js"></script>
<!--<script type="text/javascript" src="libs/angular/angular.js"></script>-->
<script src="../../libs/cryptojslib/rollups/md5.js"></script>
<script src="../../libs/cryptojslib/rollups/aes.js"></script>
</html>